<div class="spacer"></div>
<div class="container ">
    <div class="month-header">
      <div class="month-name">
        {{ getCurrentMonthName() }} {{ year }}
      </div>
      <div class="month-controls">
        <button (click)="previousMonth()" class="btn left">
          <i class="fa fa-chevron-left"></i>
        </button>
        <button (click)="nextMonth()" class="btn right">
          <i class="fa fa-chevron-right"></i>
        </button>
      </div>
    </div>
    <div class="chart-container">
      <!-- Chart content remains unchanged -->
      <div class="chart" [style.grid-template-columns]="'repeat(' + (days.length + 1) + ', 1fr)'">
        <div class="day-header">Rooms</div>
        <div *ngFor="let day of days" [ngClass]="{ 'day-header': true, 'weekend': isWeekend(day) }">
          {{ day }}
          <br>
          <span>{{ getDayName(day) }}</span>
        </div>
        <ng-container *ngFor="let room of rooms">
          <div class="room-name "> {{ room.roomId }}</div>
          <div *ngFor="let day of days" 
            [ngClass]="getCellClass(room.roomId,day)"
            (mousedown)="onMouseDown(room.roomId, day, $event)"
            (mouseover)="onMouseOver(room.roomId, day, $event)"
            (mouseup)="onMouseUp($event)"
            class="cell" 
            [class.arrival-day]="isArrivalDay(room.roomId, day)"
            [ngStyle]="{ 'pointer-events': isCellClickable(room.roomId, day) ? 'auto' : 'none' }">
          </div>
        </ng-container>
      </div>
    </div>

    <!-- Legend Container -->
<div class="container">
  <div class="row legend">
    <!-- Legend Item: Arrival Day -->
    <div class="col-md-6 col-lg-4">
      <div class="legend-item">
        <div class="legend-color arrival-day"></div>
        <span class="legend-text">Arrival Day</span>
      </div>
    </div>
    <!-- Legend Item: Checked In -->
    <div class="col-md-6 col-lg-4">
      <div class="legend-item">
        <div class="legend-color checkedin"></div>
        <span class="legend-text">Checked In</span>
      </div>
    </div>
    <!-- Legend Item: Checked Out -->
    <div class="col-md-6 col-lg-4">
      <div class="legend-item">
        <div class="legend-color checkedout"></div>
        <span class="legend-text">Checked Out</span>
      </div>
    </div>
    <!-- Legend Item: Reserved -->
    <div class="col-md-6 col-lg-4">
      <div class="legend-item">
        <div class="legend-color reserved"></div>
        <span class="legend-text">Confirm Reserved</span>
      </div>
    </div>
    
    <!-- Legend Item: Selected -->
    <div class="col-md-6 col-lg-4">
      <div class="legend-item">
        <div class="legend-color selected"></div>
        <span class="legend-text">Available</span>
      </div>
    </div>
  </div>
</div>

  <!-- Add a reference to the modal component -->
<app-modal #modal></app-modal>

<!-- (click)="onCellClick(room.roomId, day)" -->
    

   

      
