<div class="spacer"></div>
<div class="container-fluid">
    <div class="month-header">
      <div class="month-name">
        {{ getCurrentMonthName() }} {{ year }}
      </div>
      <div class="month-controls">
        <button (click)="previousMonth()" class="btn left">
          <i class="fa fa-chevron-left"></i>
        </button>
        <button (click)="nextMonth()" class="btn right">
          <i class="fa fa-chevron-right"></i>
        </button>
      </div>
    </div>
    <div class="chart-container">
      <!-- Chart content remains unchanged -->
      <div class="chart" [style.grid-template-columns]="'repeat(' + (days.length + 1) + ', 1fr)'">
        <div class="day-header">Rooms</div>
        <div *ngFor="let day of days" [ngClass]="{ 'day-header': true, 'weekend': isWeekend(day) }">
          {{ day }}
          <br>
          <span>{{ getDayName(day) }}</span>
        </div>
        <ng-container *ngFor="let room of rooms">
          <div class="room-name"> {{ room.roomId }}</div>
          <div *ngFor="let day of days" 
            [ngClass]="getCellClass(room.roomId,day)"
            (mousedown)="onMouseDown(room.roomId, day, $event)"
            (mouseover)="onMouseOver(room.roomId, day, $event)"
            (mouseup)="onMouseUp($event)"
            (click)="onCellClick(room.roomId, day)"
            class="cell" 
            [class.arrival-day]="isArrivalDay(room.roomId, day)"
            [ngStyle]="{ 'pointer-events': isCellClickable(room.roomId, day) ? 'auto' : 'none' }">
          </div>
        </ng-container>
      </div>
    </div>
   
</div>
  
  
      

