<!-- Reservation Modal (Main Modal) -->
<div
  class="modal fade"
  id="reservationModal"
  tabindex="-1"
  aria-labelledby="reservationModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        
  <!-- Booking Confirmation View -->
<div *ngIf="currentModalPage === 3">
  <div class="container cont1 mt-4 text-left">
    <p class="display-5">Thank you for your booking!</p>
    
    <p class="lead  l1 text-left mt-3">
      You can now download your booking invoice for your records.
    </p>

    <!-- Buttons aligned to the right with spacing -->
    <div class="text-end mt-4">
      <button
        *ngIf="isBookingConfirmed"
        class="btn btn-custom me-2"
        (click)="generatePDF()"
      >
        Download Invoice PDF
      </button>
    
      <!-- Exit Button (Always Visible) -->
      <button class="btn btn-custom-quo" (click)="exitModal()">Exit</button>
    </div>
  </div>
</div>

        <!-- Filter Rooms View -->
        <div *ngIf="currentModalPage === 0">
          <div class="container mt-4">
            <div class="row">
              <div class="col-md-12">
                <div class="filter-section p-3">
                  <p class="display-6 titles">Filter Rooms</p>
                  <form [formGroup]="filterForm" (ngSubmit)="applyFilter()">
                    <div class="row">
                      <!-- Dual Calendar -->
                      <div class="col-md-8">
                        <app-dual-calendar
                          (selectionConfirmed)="onSelectionConfirmed($event)"
                        ></app-dual-calendar>
                      </div>
                    </div>
                    <div class="row">
                     <!-- Number of Guests Dropdown -->
<div class="col-md-4">
  <div class="form-group mb-3">
    <label for="numberOfGuests">Number of Guests</label>
    <select
      id="numberOfGuests"
      formControlName="numberOfGuests"
      class="form-control square-input w-100"
    >
      <option value="">Select Guests</option>
      <option
        *ngFor="let option of numberOfGuestsOptions"
        [value]="option"
      >
        {{ option }}
      </option>
    </select>
  </div>
</div>

                      <div class="row">
                        <!-- Filter Room Button -->
                        <div class="col-md-4">
                          <button
                            type="submit"
                            [disabled]="isFilterButtonDisabled"
                            class="btn btn-custom w-100"
                          >
                            Filter Room
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Room List View -->
        <div *ngIf="currentModalPage === 1">
          <div class="container mt-4">
            <div class="row">
              <div class="col-md-12">
                <div class="result-section p-3">
                  <p class="display-6 titles">Available Rooms</p>
                  <div class="total-rooms-found mb-3">
                    {{ filteredRooms.length }} Rooms Are Available
                  </div>
                  <table class="table custom-table mt-4 table-animate">
                    <thead>
                      <tr class="table-row">
                        <th>Room ID</th>
                        <th>Location</th>
                        <th>Room Name</th>
                        <th>Price Per Day</th>
                        <th>Guest Capacity</th>
                        <th>Minstay</th>
                        <th>Maxstay</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        class="table-row"
                        *ngFor="
                          let room of filteredRooms
                            | paginate
                              : {
                                  itemsPerPage: itemsPerPage,
                                  currentPage: page
                                };
                          let i = index
                        "
                        [ngStyle]="{ '--animation-delay': i * 0.1 + 's' }"
                      >
                        <td>{{ room.roomId }}</td>
                        <td>{{ room.locationName }}</td>
                        <td>{{ room.roomName }}</td>
                        <td>{{ room.pricePerDayPerPerson | currency }}</td>
                        <td>{{ room.guestCapacity }}</td>
                        <td>{{ room.selectedStay?.minStay }}</td>
                        <td>{{ room.selectedStay?.maxStay }}</td>
                        <td>
                          <button
                            class="btn btn-custom"
                            (click)="goToBookingForm(room)"
                          >
                            Book
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-center mt-4">
                    <pagination-controls
                      previousLabel="Prev"
                      nextLabel="Next"
                      (pageChange)="page = $event"
                    ></pagination-controls>
                  </div>
                  <button class="btn-custom mt-3" (click)="goToFilterForm()">
                    Back to Filter
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Booking Form View -->
        <div *ngIf="currentModalPage === 2">
          <div class="container mt-4">
            <div class="modal-header">
              <p class="p-3 display-6">
                Please provide details to confirm booking
              </p>
              <button
                type="button"
                class="btn-close"
                aria-label="Close"
                (click)="closeBookingModal()"
              ></button>
            </div>
            <div class="modal-body">
              <mat-vertical-stepper [linear]="true" #stepper>
                <!-- Booking Form Step -->
                <mat-step label="Booking Details" [stepControl]="bookingForm">
                  <form
                    [formGroup]="bookingForm"
                    class="custom-form needs-validation"
                    novalidate
                  >
                    <div class="container-fluid">
                      <div class="row">
                        <!-- Reservation ID and Room Number -->
                        <div class="col-md-6 mb-3">
                          <label for="reservationId" class="form-label"
                            >Reservation ID</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="reservationId"
                            formControlName="reservationId"
                            readonly
                          />
                        </div>
                        <div class="col-md-6 mb-3">
                          <label for="roomNo" class="form-label"
                            >Room Number</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="roomNo"
                            formControlName="roomNo"
                            readonly
                          />
                        </div>
                      </div>
                      <div class="row">
                        <!-- Stay Date From and Stay Date To -->
                        <div class="col-md-6 mb-3">
                          <label for="stayDateFrom" class="form-label"
                            >Stay Date From</label
                          >
                          <input
                            type="date"
                            class="form-control"
                            id="stayDateFrom"
                            formControlName="stayDateFrom"
                          />
                        </div>
                        <div class="col-md-6 mb-3">
                          <label for="stayDateTo" class="form-label"
                            >Stay Date To</label
                          >
                          <input
                            type="date"
                            class="form-control"
                            id="stayDateTo"
                            formControlName="stayDateTo"
                          />
                        </div>
                      </div>
                      <div class="row">
                        <!-- Number of Days and Total Number of Guests -->
                        <div class="col-md-6 mb-3">
                          <label for="numberOfDays" class="form-label"
                            >Number of Days</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="numberOfDays"
                            formControlName="numberOfDays"
                            readonly
                          />
                        </div>
                        <div class="col-md-6 mb-3">
                          <label for="totalNumberOfGuests" class="form-label"
                            >Total Number of Guests</label
                          >
                          <select
                            id="totalNumberOfGuests"
                            class="form-select form-control"
                            formControlName="totalNumberOfGuests"
                          >
                            <option
                              *ngFor="let option of numberOfGuestsOptions"
                              [value]="option"
                            >
                              {{ option }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="row">
                        <!-- Price per Day per Person and Total Price -->
                        <div class="col-md-8 mb-3">
                          <label for="pricePerDayPerPerson" class="form-label"
                            >Price per Day</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="pricePerDayPerPerson"
                            formControlName="pricePerDayPerPerson"
                            readonly
                          />
                        </div>
                        <div class="col-md-4 mb-3">
                          <label for="totalPrice" class="form-label"
                            >Total Price</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="totalPrice"
                            formControlName="totalPrice"
                            readonly
                          />
                        </div>
                      </div>
                    </div>
                  </form>
                </mat-step>

                <!-- Customer Details Step -->
                <mat-step
                  label="Customer Details"
                  [stepControl]="isExistingUser ? emailForm : customerForm"
                >
                  <div class="container-fluid">
                    <div class="row">
                      <!-- Existing/New User Buttons -->
                      <div class="col-md-12 mb-3">
                        <div class="new-existing-buttons">
                          <button
                            type="button"
                            class="btn btn-custom"
                            (click)="selectNewUser()"
                          >
                            New Customer
                          </button>
                          <button
                            type="button"
                            class="btn btn-custom-sec"
                            (click)="selectExistingUser()"
                          >
                            Existing Customer
                          </button>
                        </div>
                      </div>
                    </div>

                    <!-- Customer Details Form -->
                    <form
                      [formGroup]="isExistingUser ? emailForm : customerForm"
                      class="custom-form needs-validation"
                      novalidate
                    >
                     <!-- Existing User Email Input with Search Button -->
<!-- Existing User Email Input with Search Button -->
<div *ngIf="isExistingUser">
  <div class="mb-3 col-md-12 position-relative">
    <!-- Input group for email input field and Search button -->
    <div class="input-group">
      <!-- Email input field -->
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        placeholder="Enter or select email"
        (input)="filterEmails()"
        (focus)="emailDropdownVisible = true"
        (blur)="hideDropdownAfterDelay()"
      />

      <!-- Search Email Button next to the input field -->
      <button
        type="button"
        class="btn-custom-quo"
        (click)="fetchExistingCustomer()"
        [disabled]="!emailForm.valid">
        Select Customer
      </button>
    </div>

    <!-- Filtered emails dropdown -->
    <div
      *ngIf="emailDropdownVisible && filteredEmails.length > 0"
      class="list-group position-absolute"
      style="top: 100%; left: 0; z-index: 1; width: 100%;">
      <button
        *ngFor="let email of filteredEmails"
        type="button"
        class="list-group-item list-group-item-action"
        (mousedown)="selectEmail(email)">
        {{ email }}
      </button>
    </div>

    <!-- Loading Spinner -->
    <div *ngIf="isLoading" class="spinner-border text-primary mt-2 ms-2" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <!-- Error alert for customer not found -->
  <div *ngIf="emailError" class="alert alert-danger mt-2">
    {{ emailError }}
  </div>

  <!-- Spacer -->
  <div *ngIf="!emailError && emailDropdownVisible && filteredEmails.length " class="alert alert-danger1 mt-2">
    <br>
    <br>
    <br>
  </div>

  <!-- Success alert for valid existing customer -->
  <div *ngIf="customerName && emailForm.get('email')?.valid" class="alert alert-success mt-2">
    Welcome, {{ customerName }}!
  </div>
</div>




                        
                      

                      <!-- New Customer Form Fields -->
                      <div *ngIf="isNewUser">
                        <div class="row">
                          <!-- Name and Age -->
                          <div class="col-md-7 mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input
                              type="text"
                              class="form-control"
                              id="name"
                              formControlName="name"
                            />
                            <div
                              *ngIf="
                                customerForm.get('name')?.touched &&
                                customerForm.get('name')?.invalid
                              "
                            >
                              <div
                                class="error"
                                *ngIf="customerForm.get('name')?.errors?.['required']"
                              >
                                Name is required.
                              </div>
                              <div
                                class="error"
                                *ngIf="customerForm.get('name')?.errors?.['minlength']"
                              >
                                Name must be at least 3 characters long.
                              </div>
                              <div
                                class="error"
                                *ngIf="customerForm.get('name')?.errors?.['pattern']"
                              >
                                Name can only contain alphabetic characters and
                                spaces.
                              </div>
                            </div>
                          </div>
                          <div class="col-md-5 mb-3">
                            <label for="age" class="form-label">Age</label>
                            <input
                              type="number"
                              class="form-control"
                              id="age"
                              formControlName="age"
                            />
                            <div
                              *ngIf="
                                customerForm.get('age')?.touched &&
                                customerForm.get('age')?.invalid
                              "
                            >
                              <div
                                class="error"
                                *ngIf="customerForm.get('age')?.errors?.['required']"
                              >
                                Age is required.
                              </div>
                              <div
                                class="error"
                                *ngIf="customerForm.get('age')?.errors?.['min']"
                              >
                                Age must be more than 0.
                              </div>
                              <div
                                class="error"
                                *ngIf="customerForm.get('age')?.errors?.['max']"
                              >
                                Age cannot exceed 100.
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <!-- Initial Address -->
                          <div class="col-md-12 mb-3">
                            <label for="initialAddress" class="form-label"
                              >Initial Address</label
                            >
                            <input
                              type="text"
                              class="form-control"
                              id="initialAddress"
                              formControlName="initialAddress"
                            />
                            <div
                              *ngIf="
                                customerForm.get('initialAddress')?.touched &&
                                customerForm.get('initialAddress')?.invalid
                              "
                            >
                              <div
                                class="error"
                                *ngIf="customerForm.get('initialAddress')?.errors?.['required']"
                              >
                                Initial address is required.
                              </div>
                              <div
                                class="error"
                                *ngIf="customerForm.get('initialAddress')?.errors?.['minlength']"
                              >
                                Address must be at least 10 characters long.
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <!-- Email -->
                          <div class="col-md-12 mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input
                              type="email"
                              class="form-control"
                              id="email"
                              formControlName="email"
                            />
                            <div
                              *ngIf="
                                customerForm.get('email')?.touched &&
                                customerForm.get('email')?.invalid
                              "
                            >
                              <div
                                class="error"
                                *ngIf="customerForm.get('email')?.errors?.['required']"
                              >
                                Email is required.
                              </div>
                              <div
                                class="error"
                                *ngIf="customerForm.get('email')?.errors?.['email']"
                              >
                                Invalid email format.
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <!-- Mobile Number and Pincode -->
                          <div class="col-md-7 mb-3">
                            <label for="mobileNumber" class="form-label"
                              >Mobile Number</label
                            >
                            <input
                              type="tel"
                              class="form-control"
                              id="mobileNumber"
                              formControlName="mobileNumber"
                            />
                            <div
                              *ngIf="
                                customerForm.get('mobileNumber')?.touched &&
                                customerForm.get('mobileNumber')?.invalid
                              "
                            >
                              <div
                                class="error"
                                *ngIf="customerForm.get('mobileNumber')?.errors?.['required']"
                              >
                                Mobile number is required.
                              </div>
                              <div
                                class="error"
                                *ngIf="customerForm.get('mobileNumber')?.errors?.['pattern']"
                              >
                                Mobile number must be a valid 10-digit number.
                              </div>
                            </div>
                          </div>
                          <div class="col-md-5 mb-3">
                            <label for="pincode" class="form-label"
                              >Pincode</label
                            >
                            <input
                              type="number"
                              class="form-control"
                              id="pincode"
                              formControlName="pincode"
                            />
                            <div
                              *ngIf="
                                customerForm.get('pincode')?.touched &&
                                customerForm.get('pincode')?.invalid
                              "
                            >
                              <div
                                class="error"
                                *ngIf="customerForm.get('pincode')?.errors?.['required']"
                              >
                                Pincode is required.
                              </div>
                              <div
                                class="error"
                                *ngIf="customerForm.get('pincode')?.errors?.['pattern']"
                              >
                                Pincode must be a valid 6-digit number.
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <!-- Country, State, and City -->
                          <div class="col-md-4 mb-3">
                            <label for="country" class="form-label"
                              >Country</label
                            >
                            <select
                              id="country"
                              class="form-control"
                              formControlName="country"
                              (change)="onCountryChange($event)"
                            >
                              <option value="">Select a country</option>
                              <option
                                *ngFor="let country of countries"
                                [value]="country.countryId"
                              >
                                {{ country.countryName }}
                              </option>
                            </select>
                            <div
                              *ngIf="
                                customerForm.get('country')?.touched &&
                                customerForm.get('country')?.invalid
                              "
                            >
                              <div
                                class="error"
                                *ngIf="customerForm.get('country')?.errors?.['required']"
                              >
                                Country is required.
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 mb-3">
                            <label for="state" class="form-label">State</label>
                            <select
                              id="state"
                              class="form-control"
                              formControlName="state"
                              (change)="onStateChange($event)"
                            >
                              <option value="">Select a state</option>
                              <option
                                *ngFor="let state of states"
                                [value]="state.stateId"
                              >
                                {{ state.stateName }}
                              </option>
                            </select>
                            <div
                              *ngIf="
                                customerForm.get('state')?.touched &&
                                customerForm.get('state')?.invalid
                              "
                            >
                              <div
                                class="error"
                                *ngIf="customerForm.get('state')?.errors?.['required']"
                              >
                                State is required.
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4 mb-3">
                            <label for="city" class="form-label">City</label>
                            <select
                              id="city"
                              class="form-control"
                              formControlName="city"
                            >
                              <option value="">Select a city</option>
                              <option
                                *ngFor="let city of cities"
                                [value]="city.cityId"
                              >
                                {{ city.cityName }}
                              </option>
                            </select>
                            <div
                              *ngIf="
                                customerForm.get('city')?.touched &&
                                customerForm.get('city')?.invalid
                              "
                            >
                              <div
                                class="error"
                                *ngIf="customerForm.get('city')?.errors?.['required']"
                              >
                                City is required.
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </mat-step>

                <!-- Payment Details Step -->
                <!-- Payment Details Step -->
                <mat-step label="Payment Details" [stepControl]="paymentForm">
                  <form
                    [formGroup]="paymentForm"
                    class="custom-form needs-validation"
                    novalidate
                  >
                    <div class="container-fluid">
                      <div class="row">
                        <!-- Payment Mode -->
                        <div class="col-md-6 mb-3">
                          <label for="paymentMode" class="form-label"
                            >Payment Mode</label
                          >
                          <select
                            class="form-control square-input w-100"
                            id="paymentMode"
                            formControlName="paymentMode"
                          >
                            <option value="">Select Payment Mode</option>
                            <!-- Default option -->
                            <option value="Debit Card">Debit Card</option>
                            <option value="UPI">UPI</option>
                            <option value="Cash">Cash</option>
                          </select>
                          <div
                            *ngIf="
                              paymentForm.get('paymentMode')?.touched &&
                              paymentForm.get('paymentMode')?.invalid
                            "
                          >
                            <div
                              class="error"
                              *ngIf="paymentForm.get('paymentMode')?.errors?.['required']"
                            >
                              Payment mode is required.
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Show Paid Amount, Due, and Total Price Only If Payment Mode is Selected -->
                      <div *ngIf="paymentForm.get('paymentMode')?.value">
                        <div class="row">
                          <!-- Paid Amount -->
                          <div class="col-md-6 mb-3">
                            <label for="paidAmount" class="form-label"
                              >Paid Amount</label
                            >
                            <input
                              type="number"
                              class="form-control"
                              id="paidAmount"
                              formControlName="paidAmount"
                              (input)="calculateDueAmount()"
                            />
                            <div
                              *ngIf="
                                paymentForm.get('paidAmount')?.touched &&
                                paymentForm.get('paidAmount')?.invalid
                              "
                            >
                              <div
                                class="error"
                                *ngIf="paymentForm.get('paidAmount')?.errors?.['required']"
                              >
                                Paid amount is required.
                              </div>
                              <div
                                class="error"
                                *ngIf="paymentForm.get('paidAmount')?.errors?.['min']"
                              >
                                Paid amount Invalid
                              </div>
                              <div
                                class="error"
                                *ngIf="paymentForm.get('paidAmount')?.errors?.['amountExceedsTotal']"
                              >
                                Paid amount cannot be greater than the total
                                price.
                              </div>
                            </div>
                          </div>

                          <!-- Due -->
                          <div class="col-md-3 mb-3">
                            <label for="due" class="form-label">Due</label>
                            <input
                              type="number"
                              class="form-control"
                              id="due"
                              formControlName="due"
                              readonly
                            />
                          </div>

                          <!-- Total Price -->
                          <div class="col-md-3 mb-3">
                            <label for="totalPrice" class="form-label"
                              >Total Price</label
                            >
                            <input
                              type="number"
                              class="form-control"
                              id="totalPrice"
                              formControlName="totalPrice"
                              readonly
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </mat-step>

                <!-- New Invoice Step -->
                <mat-step
                  label="Confirm Booking"
                  [completed]="!isConfirmDisabled"
                >
                  <div class="container-fluid">
                    <h4 class="text-center my-3">Booking Invoice</h4>
                    <div class="row">
                      <!-- Reservation ID -->
                      <div class="col-md-6 mb-3">
                        <strong>Reservation ID:</strong>
                        <span>{{
                          bookingForm.get("reservationId")?.value
                        }}</span>
                      </div>
                      <!-- Room Number -->
                      <div class="col-md-6 mb-3">
                        <strong>Room Number:</strong>
                        <span>{{ bookingForm.get("roomNo")?.value }}</span>
                      </div>
                    </div>
                    <div class="row">
                      <!-- Stay Dates -->
                      <div class="col-md-6 mb-3">
                        <strong>Stay Date From:</strong>
                        <span>{{
                          bookingForm.get("stayDateFrom")?.value
                            | date : "longDate"
                        }}</span>
                      </div>
                      <div class="col-md-6 mb-3">
                        <strong>Stay Date To:</strong>
                        <span>{{
                          bookingForm.get("stayDateTo")?.value
                            | date : "longDate"
                        }}</span>
                      </div>
                    </div>
                    <div class="row">
                      <!-- Number of Guests -->
                      <div class="col-md-6 mb-3">
                        <strong>Total Guests:</strong>
                        <span>{{
                          bookingForm.get("totalNumberOfGuests")?.value
                        }}</span>
                      </div>
                      <!-- Total Days -->
                      <div class="col-md-6 mb-3">
                        <strong>Total Days:</strong>
                        <span>{{
                          bookingForm.get("numberOfDays")?.value
                        }}</span>
                      </div>
                    </div>
                    <div class="row">
                      <!-- Price per Day -->
                      <div class="col-md-6 mb-3">
                        <strong>Price per Day per Person:</strong>
                        <span>{{
                          bookingForm.get("pricePerDayPerPerson")?.value
                            | currency
                        }}</span>
                      </div>
                      <!-- Total Price -->
                      <div class="col-md-6 mb-3">
                        <strong>Total Price:</strong>
                        <span>{{
                          bookingForm.get("totalPrice")?.value | currency
                        }}</span>
                      </div>
                    </div>
                    <div class="row">
                      <!-- Paid Amount -->
                      <div class="col-md-6 mb-3">
                        <strong>Paid Amount:</strong>
                        <span>{{
                          paymentForm.get("paidAmount")?.value | currency
                        }}</span>
                      </div>
                      <!-- Due Amount -->
                      <div class="col-md-6 mb-3">
                        <strong>Due Amount:</strong>
                        <span>{{
                          paymentForm.get("due")?.value | currency
                        }}</span>
                      </div>
                    </div>
                  </div>
                </mat-step>
              </mat-vertical-stepper>

            </div>





            <div class="modal-footer">
              <!-- Confirm Booking Button -->
              <button
                *ngIf="!isBookingConfirmed"
                class="btn btn-custom"
                (click)="confirmBooking()"
              >
                Confirm Booking
              </button>
            
              <!-- Download Invoice PDF Button (Visible when booking is confirmed) -->
              <button
                *ngIf="isBookingConfirmed"
                class="btn btn-custom-sec"
                (click)="generatePDF()"
              >
                Download Invoice PDF
              </button>
            
              <!-- Exit Button (Always Visible) -->
              <button class="btn btn-custom-quo" (click)="exitModal()">Exit</button>
            </div>
            
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Trigger Modal Button -->
<button
  type="button"
  class="btn btn-custom"
  data-bs-toggle="modal"
  data-bs-target="#reservationModal"
>
  Create a Reservation
</button>


<!-- Toast for navigation confirmation
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="navigationToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
    <div class="toast-header">
      <strong class="me-auto">Booking Confirmed</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      <p>Your booking has been confirmed! Do you want to navigate to the planner?</p>
      <button id="confirmNavigate" class="btn btn-primary btn-sm me-2">Confirm</button>
      <button id="cancelNavigate" class="btn btn-secondary btn-sm">Cancel</button>
    </div>
  </div>
</div> -->
<!-- Toast Container -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div
    id="bookingToast"
    class="toast"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="toast-header">
      <strong class="me-auto">Success</strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="toast"
        aria-label="Close"
        (click)="navigateToPlanner()"
      ></button>
    </div>
    <div class="toast-body">Booking successful!</div>
  </div>
</div>
