.container-fluid{
    padding:0 15px;
}
.mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  .modal-body {
    padding: 20px;
  }
  
  .modal-footer {
    display: flex;
    justify-content: flex-end;
  }
  