.table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    font-weight: 400;
  }
  
  .table th,
  .table td {
    border: 1.2px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .table thead th {
    background-color: #f8f9fa;
  }
  
  .table td {
    background-color: #fefefe;
  }
  
  .table .text-success {
    color: #28a745;
  }
  
  .table .text-danger {
    color: #dc3545;
  }
  
  h4 {
    font-weight: 400;
    margin-bottom: 20px;
  }
  