<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" routerLink="/">Bookings</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="btn btn-custom btn-custom-filter nav-link" routerLink="/filterroom">Backoffice</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-custom btn-custom-graph nav-link" routerLink="/UserView">UserView</a>
          </li>
    
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <app-parent></app-parent>

