<div class="container-fluid">
<div class="d-flex">
  <!-- Sidebar -->
  <nav class="sidebar">
    <div class="sidebar-logo">
      <!-- Logo or brand name here -->
      <span>Maxxton</span>
    </div>
    <div class="nav-list">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="/filterroom" routerLinkActive="active">
            <i class="bi bi-calendar-check"></i>
            <span>Book Rooms</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reservations" routerLinkActive="active">
            <i class="bi bi-book"></i>
            <span>Reservations</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/matdia" routerLinkActive="active">
            <i class="bi bi-book"></i>
            <span>new Filter</span>
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/planner" routerLinkActive="active">
            <i class="bi bi-book"></i>
            <span>Planner</span>
          </a>
        </li> -->
      </ul>
    </div>
  </nav>

  <!-- Main Content -->
  <div class="main-content flex-grow-1">
    <div class="sticky-top ">
      <!-- Optional sticky top bar content -->
    </div>
    <router-outlet></router-outlet>
  </div>
</div>

</div>
<app-room-filter-button></app-room-filter-button>