<div class="container">
    <div *ngIf="reservations.length === 0">No reservations found.</div>
    <table *ngIf="reservations.length > 0" class="table">
      <thead>
        <tr>
          <th>Reservation ID</th>
          <th>Room ID</th>
          <th>Stay From</th>
          <th>Stay To</th>
          <th>Total Guests</th>
          <th>Total Price</th>
          <th>Customer Name</th>
          <th>Status</th>
          <th>Paid Amount</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reservation of reservations; let i = index"
            [ngClass]="{
              'status-confirmed': reservation.reservation.status === 'CONFIRM',
              'status-checked-in': reservation.reservation.status === 'CHECKED-IN',
              'status-checked-out': reservation.reservation.status === 'CHECKED-OUT'
            }"
            class="table-row"
            [ngStyle]="{'--animation-delay': i * 0.2 + 's'}">
          <td>{{ reservation.reservation.reservationId }}</td>
          <td>{{ reservation.reservation.roomId }}</td>
          <td>{{ reservation.reservation.arrivalDate }}</td>
          <td>{{ reservation.reservation.departureDate }}</td>
          <td>{{ reservation.reservation.numberOfGuest }}</td>
          <td>{{ reservation.reservation.totalPrice }}</td>
          <td>{{ reservation.customer.firstName }} {{ reservation.customer.middleName }} {{ reservation.customer.lastName }}</td>
          <td>{{ reservation.reservation.status }}</td>
          <td>{{ reservation.reservation.paidAmount }}</td>
          <td> <button (click)="deleteReservation(reservation.reservation.reservationId)">Remove</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="container">
    <button class="clear-button" (click)="clearReservations()">Clear Reservations</button>
  </div>
  