<div class="gantt-chart">
    <div class="header">
      <div class="day-label" *ngFor="let date of getDatesArray()">
        {{ date | date: 'MMM d' }}
      </div>
    </div>
    <div class="body">
      <div *ngFor="let room of rooms" class="row">
        <div class="label">{{ room.roomName }}</div>
        <div class="bar-container">
          <div class="bar" *ngFor="let period of room.availability"
               [ngStyle]="getBarStyle(period)"
               [attr.title]="getTooltipData(room)">
          </div>
        </div>
      </div>
    </div>
  </div>
  