

<div class="chart-container">
    <div class="chart" [style.grid-template-columns]="'repeat(' + (days.length + 1) + ', 1fr)'">
  
      <!-- Month Header -->
      <div class="month-header sticky">Month</div>
      <div *ngFor="let section of days | slice:0:days.length; let i = index" class="month-name sticky">
        <div *ngIf="i === 0 || days[i].month !== days[i - 1].month">
          {{ months[days[i].month] }}
        </div>
      </div>
  
      <!-- Days Header -->
      <div class="day-header sticky">Room</div>
      <div *ngFor="let dayObj of days" 
           [id]="'day-' + dayObj.year + '-' + dayObj.month + '-' + dayObj.day" 
           [ngClass]="{ 'day-header': true, 'weekend': isWeekend(dayObj) }">
        <div>{{ dayObj.day }}</div>
        <div>{{ getDayName(dayObj) }}</div>
      </div>
      
      <!-- Room Rows -->
      <ng-container *ngFor="let room of rooms">
        <div class="room-name sticky">Room {{ room.roomId }}</div>
        <div *ngFor="let dayObj of days"
        [class]="getCombinedCellClass(room.roomId, dayObj)"
        (mousedown)="onMouseDown(room.roomId, dayObj, $event)"
        (mouseover)="onMouseOver(room.roomId, dayObj, $event)"
        (mouseup)="onMouseUp()"
        (click)="onCellClick(room.roomId, dayObj)"
        [attr.data-statuses]="getStatusesString(room.roomId, dayObj)"
        [attr.data-bs-toggle]="isSecondDayOfReservation(room.roomId, dayObj) ? 'tooltip' : null"
        [attr.title]="getTooltipForCell(room.roomId, dayObj)"
        [attr.aria-selected]="selectedCells.has(room.roomId + '-' + dayObj.year + '-' + dayObj.month + '-' + dayObj.day)">
   </div>
   
   
      </ng-container>
      
  
    </div>
  </div>
